body {
    color: black;
    background: #fafafa;
    font-family: Helvetica, sans-serif
}

#titlep {
    text-align: center
}

#title {
    font-size: xx-large
}

tr.row0 {
    background: white
}

tr.row1 {
    background: #f0f0f0
}

tr.header {
    font-weight: bold;
    white-space: nowrap;
    text-align: center
}

.progtitle {
    font-weight: bold;
    display: block
}

.progdesc {
    font-size: small
}

.transferring {
    background: #7fff7f
}

.queued {
    background: #ffff7f
}

.failed {
    background: #ff7f7f
}

#main {
    border: 1px solid #dcdcdc;
    background: white;
    padding: 4px;
    border-spacing: 0;
    border-collapse: collapse
}

td {
    padding: 4px
}

td.progmain {
    width: 100%
}

td.unbreak {
    white-space: nowrap;
    text-align: center
}

img {
    border: 0
}
