body {
    background-color: rgb(250, 250, 250)
}

#titlep {
    text-align: center
}

#title {
    font-size: xx-large
}

tr.row0 {
    background-color: rgb(255, 255, 255)
}

tr.row1 {
    background-color: rgb(240, 240, 240)
}

tr.header {
    font-weight: bold;
    white-space: nowrap;
    text-align: center
}

.progtitle {
    font-weight: bold;
    display: block
}

.progdesc {
    font-size: small
}

.transferring {
    background-color: rgb(127, 255, 127)
}

.queued {
    background-color: rgb(255, 255, 127)
}

.failed {
    background-color: rgb(255, 127, 127)
}

#main {
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255)
}

td.progmain {
    width: 100%
}

td.unbreak {
    white-space: nowrap;
    text-align: center
}

img {
    border: 0
}
