<?xml version="1.0" encoding="UTF-8" ?>
<TiVoItem>
    <Item>
        <Details>
            #set $title = '.'.join($file['name'].split('.')[:-1])
            #if not 'Title' in $file
            <Title>$escape($title)</Title>
            #end if
            <FileName>$escape($file['name'])</FileName>
            <ContentType>audio/mpeg</ContentType>
            #for $key in ('Title', 'ArtistName', 'SongTitle', 'AlbumTitle', 'AlbumYear', 'MusicGenre')
            #if $key in $file and $file[$key]
            <$key>$escape($file[$key])</$key>
            #end if
            #end for
            #if 'Duration' in $file
            <Duration>$file['Duration']</Duration>
            #end if
        </Details>
    </Item>
</TiVoItem>
