<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo</title>
<style type="text/css">

body {
    background-color: rgb(250, 250, 250)
}

span#title {
    font-size: xx-large
}

div#main {
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255)
}

</style>
</head>
<body>
    <p style="text-align: center"><span id="title">pyTivo</span></p>
    <div id="main">
    $admin
    $togo
    $shares
    </div>
</body>
</html>
