<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="/mobile.css">
</head>
<body>
    <p id="title">pyTivo</p>
	<br/>
    <div>
    $admin
	</div>
	<div>
    $togo
	</div>
	<div>
    $shares
    </div>
	<br/>
</body>
</html>
