<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo</title>
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <p id="titlep"><span id="title">pyTivo</span></p>
    <div id="main">
    $admin
    $togo
    $shares
    </div>
</body>
</html>
