<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <body>
        <h3>Unsupported Command</h3>
        Query:
        <ul>
        #for $key, $value in $query.items
            <li>$key: $value</li>
        #end for
        </ul>
    </body>
</html>
