<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo - Push - $escape($name)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="/main_mob.css">
</head>
<body>
<form action="/TiVoConnect" method="POST">
<script language="JavaScript">
<!--
function toggle(source) {
	var checkboxes = document.getElementsByName('File');
	for (var i = 0; i < checkboxes.length; i++) {
		if (typeof(checkboxes[i].checked) != "undefined") {
			checkboxes[i].checked = source.checked;
			}
	}
}
-->
</script>
<p id="title"><a id="titleA" href="/">pyTiVo</a></p>
<table id="main">
    #set $parent = ''
    #set $folders = $name.split("/")
    #set $current_folder = $folders.pop()
    #set $parent = '/'.join($folders)
    <tr id="header">
    <td colspan="2">
    #if $parent != ''
    <a id="headerA" href="/TiVoConnect?Command=QueryContainer&amp;Container=$escape($parent)">$escape($name)</a>
    #else
    <div id="headerA">$escape($name)</div>
    #end if
    </td>
    <td><input type="checkbox" name="selectAll" onClick="toggle(this)" Title="Select All" /></td>
    </tr>
  #set $i = 0
  ## i variable is used to alternate colors of row
  ## loop through passed data printing row for each show or folder
  #for $video in $videos
	  #set $i += 1
	  #set $j = $i%2
	  <tr class="row$(j)">
	  #if $video.is_dir
	    ## This is a folder
		<td id="ColA"><a href='/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($video.name)'>$video.title </a></td>
        <td id="ColB"><div id="count">$video.total_items</div></td>
		<td id="ColC"><img src="/iphonearrow.png" alt="" /></td>
	  #else
	    ## This is a show
		<td id="ColA">
           	#if $video.episodeTitle
			<span class="progtitle">$video.title: $video.episodeTitle</span>
			#else
			<span class="progtitle">$video.title</span>
			#end if
			<span class="progdesc">
            #if $video.description
			$video.description
			#end if
			#if $video.displayMajorNumbe and $video.callsign
			$video.displayMajorNumber $video.callsign
			#end if
			<span class="rectxt">Added on</span> <span class="recdate">$video.textDate</span>
		</td>
        <td id="ColB"></td>
		<td id="ColC">
            <input type="checkbox" name="File" value="$escape($video.part_path)">
		</td>
	  #end if
	  </tr>
  #end for
</table>
    <div id="pushmenu">
      <input type="hidden" name="Command" value="Push"/>
      <input type="hidden" name="Container" value="$name"/>
        <select name="tsn">
        #for $tivo in $tivo_names
        <option>$tivo_names[$tivo]</option>
        #end for
        </select>
      <input value="Send to TiVo" type="submit"/>
    </div>
</form>
</body>
</html>
