<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
#set $tname = $tivoIP
#for $tsn in $tivos
    #if $tivoIP == $tivos[$tsn]
        #set $tname = $tivo_names[$tsn]
    #end if
#end for
<head>
<title>pyTivo - ToGo - $escape($tname)</title>
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<form action="/TiVoConnect" method="POST">
<p id="titlep"><span id="title">pyTivo - ToGo - $escape($tname)</span></p>
<table id="main" border="0" cellpadding="0" cellspacing="4">
    <tr>
      <td>
      <div>
		  #if $ItemStart > 0
		        #set $Offset = -($ItemStart + 1)
		        #if $Offset < -($shows_per_page+1)
		           #set $Offset = -($shows_per_page+1)
		        #end if
		        <a href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP&amp;AnchorItem=$FirstAnchor&amp;AnchorOffset=$Offset&amp;Folder=$folder">Previous Page</a>
		  #end if
		  <table>
		  #if $folder != ''
		  	## We are in a subfolder, offer the option to return to NPL
			<tr>
				<td><img src="/back.png" alt=""></td>
				<td colspan=4><a href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP">Back to Now Playing List</a></td>
			</tr>
		  #end if
		  #set $i = 0
		  ## i variable is used to alternate colors of row
		  ## loop through passed data printing row for each show or folder
		  #for $row in $data
			  #set $i += 1
                          #set $j = $i%2
                          <tr class="row$(j)">
			  #if $row['ContentType'] == 'x-tivo-container/folder'
			    ## This is a folder
				<td></td>
				<td><img src="/folder.png" alt=""></td>
				<td><a href='/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;Folder=$(row["UniqueId"])&amp;TiVo=$tivoIP'>$row['Title'] </a></td>
				<td class="unbreak">$(row["TotalItems"]) Items</td>
				<td class="unbreak">$row["LastChangeDate"]</td>
				<td></td>
			  #else
			    ## This is a show
				<td>
				#if 'Url' in $row and $row['Url'] not in $status and not ('CopyProtected' in $row and $row['CopyProtected'] == 'Yes')
					<input type="checkbox" name="Url" value="$row['Url']"/>
				#end if
				</td>
				#if 'CopyProtected' in $row and $row['CopyProtected'] == 'Yes'
					<td><img src="/nocopy.png" alt=""></td>
				#elif 'Icon' in $row
				    <!-- Display icons similar to TiVo colored circles -->
					#if $row['Icon'] == 'urn:tivo:image:expires-soon-recording'
						<td><img src="/soon.png" alt=""></td>
					#else if $row['Icon'] == 'urn:tivo:image:expired-recording'
						<td><img src="/expired.png" alt=""></td>
					#else if $row['Icon'] == 'urn:tivo:image:save-until-i-delete-recording'
						<td><img src="/kuid.png" alt=""></td>
					#else if $row['Icon'] == 'urn:tivo:image:in-progress-recording'
						<td><img src="/recording.png" alt=""></td>
					#else
						<td></td>
					#end if
				#else
				    ## No Icon listed in XML sheet
					<td></td>
				#end if
				<td>
                                        #if 'episodeTitle' in $row
					<b>$escape($row['title']): $escape($row['episodeTitle'])</b><br>
                                        #else
					<b>$escape($row['title'])</b><br>
                                        #end if
					<small>#if 'description' in $row
                                        $escape($row['description'])
                                        #end if
                                        #if 'displayMajorNumber' in $row and 'callsign' in $row
					$row['displayMajorNumber'] $row['callsign']
					#end if
					</small>
					#if 'Url' in $row and row['Url'] in $status
						<p>
						#set $this_status = $status[$row['Url']]
						#if $this_status['running'] and $this_status['rate'] != ""
                                                        #set $gb = '%.3f GB' % (float($this_status['size']) / (1024 ** 3))
							Transfering - $this_status['rate'] KB/s<br>$gb
							<a href="/TiVoConnect?Command=ToGoStop&amp;Container=$quote($container)&amp;Url=$quote($row['Url'])">Stop Transfer</a>
						#elif $this_status['running'] and $this_status['rate'] == ""
							Initiating Transfer<br>
							Please Wait
						#elif $this_status['error']
							Error - $this_status['error']<br>
							<a href="/TiVoConnect?Command=ToGo&amp;Container=$quote($container)&amp;Url=$quote($row['Url'])&amp;TiVo=$tivoIP">Try Transfer Again</a>
						#elif $this_status['finished']
							Transfer Complete
                                                #elif $this_status['queued']
                                                        Queued: $queue.index($row['Url'])<br>
							<a href="/TiVoConnect?Command=Unqueue&amp;Container=$quote($container)&amp;Url=$quote($row['Url'])&amp;TiVo=$tivoIP">Unqueue</a>
						#end if
						</p>
					#end if
				</td>
				<td class="unbreak">$row['SourceSize'] <br>
				$row['Duration']
				</td>
				<td class="unbreak">$row['CaptureDate']</td>
			  #end if
			  </tr>
		  #end for
		  </table>
		  #if ($TotalItems - $ItemCount) > ($ItemStart + 1)
		     #set $Offset = $shows_per_page - 1
		     <a href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP&amp;AnchorItem=$FirstAnchor&amp;AnchorOffset=$Offset&amp;Folder=$folder">Next Page</a>
		  #end if
      </div>
      </td>
    </tr>
</table>
<p>
 <input type="hidden" name="Command" value="ToGo"/>
 <input type="hidden" name="Container" value="$container"/>
 <input type="hidden" name="TiVo" value="$tivoIP"/>
 <input value="Transfer Selected" type="submit"/>
</p>
</form>
</body>
</html>
