<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTiVo - $escape($tname)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="/main_mob.css">
</head>
<body>
<form action="/TiVoConnect" method="POST">
<script language="JavaScript">
<!--
function toggle(source) {
	var checkboxes = document.getElementsByName('Url');
	for (var i = 0; i < checkboxes.length; i++) {
		if (typeof(checkboxes[i].checked) != "undefined") {
			checkboxes[i].checked = source.checked;
			}
	}
}
-->
</script>
<p id="title"><a id="titleA" href="/">pyTiVo</a></p>
<table id="main">
    <tr id="header">
        <td colspan="2">
        #if $folder != ''
        <a id="headerA" href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP">$escape($tname)</a>
        #else
        <div id="headerA">$escape($tname)</div>
        #end if
        </td>
        <td><input type="checkbox" name="selectAll" onClick="toggle(this)" Title="Select All" /></td>
    </tr>
  #if $ItemStart > 0
	<tr><td colspan="3">
	#set $Offset = -($ItemStart + 1)
	#if $Offset < -($shows_per_page+1)
           #set $Offset = -($shows_per_page+1)
	#end if
	<a href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP&amp;AnchorItem=$FirstAnchor&amp;AnchorOffset=$Offset&amp;Folder=$folder">Previous Page</a>
	</td></tr>
  #end if
  #set $i = 0
  ## i variable is used to alternate colors of row
  ## loop through passed data printing row for each show or folder
  #for $row in $data
	  #set $i += 1
	  #set $j = $i%2
	  <tr class="row$(j)">
	  #if $row['ContentType'] == 'x-tivo-container/folder'
	    ## This is a folder
		<td id="ColA"><a href='/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;Folder=$(row["UniqueId"])&amp;TiVo=$tivoIP'>$row['Title'] </a></td>
		<td id="ColB"><div id="count">$(row["TotalItems"])</div></td>
		<td id="ColC"><img src="/iphonearrow.png" alt=""></td>
		#else
	    ## This is a show
		
			<td id="ColA">
			#if 'episodeTitle' in $row
			<span class="progtitle">$escape($row['title']): $escape($row['episodeTitle'])</span>
			#else
			<span class="progtitle">$escape($row['title'])</span>
			#end if
			<span class="progdesc">#if 'description' in $row
			$escape($row['description'])
			#end if
			#if 'displayMajorNumber' in $row and 'callsign' in $row
			$row['displayMajorNumber'] $row['callsign']
			#end if
			</span>
			<span class="rectxt">Recorded on </span>
			<span class="recdate">$row['CaptureDate']</span>
			#if 'Url' in $row and row['Url'] in $status
				#set $this_status = $status[$row['Url']]
				#if $this_status['running'] and $this_status['rate'] != ""
					<div class="transferring">
					#set $gb = '%.3f GB' % (float($this_status['size']) / (1024 ** 3))
					Transfering - $this_status['rate']<br>$gb
					<a href="/TiVoConnect?Command=ToGoStop&amp;Container=$quote($container)&amp;Url=$quote($row['Url'])">Stop Transfer</a>
					</div>
				#elif $this_status['running'] and $this_status['rate'] == ""
					<div class="transferring">
					Initiating Transfer<br>
					Please Wait
					</div>
				#elif $this_status['error']
					<div class="failed">
					Error - $this_status['error']<br>
					</div>
				#elif $this_status['finished']
					<div>
					Transfer Complete
					</div>
				#elif $this_status['queued']
					<div class="queued">
					Queued: $queue.index($row['Url'])<br>
					<a href="/TiVoConnect?Command=Unqueue&amp;Container=$quote($container)&amp;Url=$quote($row['Url'])&amp;TiVo=$tivoIP">Unqueue</a>
					</div>
				#end if
			#end if
		</td>
		<td id="ColB">
		#if 'CopyProtected' in $row and $row['CopyProtected'] == 'Yes'
			<img src="/nocopy.png" alt="">
		#elif 'Icon' in $row
		    <!-- Display icons similar to TiVo colored circles -->
			#if $row['Icon'] == 'urn:tivo:image:expires-soon-recording'
				<img src="/soon.png" alt="">
			#else if $row['Icon'] == 'urn:tivo:image:expired-recording'
				<img src="/expired.png" alt="">
			#else if $row['Icon'] == 'urn:tivo:image:save-until-i-delete-recording'
				<img src="/kuid.png" alt="">
			#else if $row['Icon'] == 'urn:tivo:image:in-progress-recording'
				<img src="/recording.png" alt="">
			#end if
		#end if
		</td>
		<td id="ColC">
		#if 'Url' in $row and not ($row['Url'] in $status and ($status[$row['Url']]['running'] or $status[$row['Url']]['queued'])) and not ('CopyProtected' in $row and $row['CopyProtected'] == 'Yes') and not ('Icon' in $row and $row['Icon'] == 'urn:tivo:image:in-progress-recording')
			<input type="checkbox" name="Url" value="$escape($row['Url'])">
		#end if
		</td>
	  #end if
	  </tr>
  #end for
  #if ($TotalItems - $ItemCount) > ($ItemStart + 1)
     <tr><td colspan="3">
     #set $Offset = $shows_per_page - 1
     <a href="/TiVoConnect?Command=NPL&amp;Container=$quote($container)&amp;TiVo=$tivoIP&amp;AnchorItem=$FirstAnchor&amp;AnchorOffset=$Offset&amp;Folder=$folder">Next Page</a>
     </td></tr>
  #end if
</table>
<p id="title">
 <input type="hidden" name="Command" value="ToGo">
 <input type="hidden" name="Container" value="$container">
 <input type="hidden" name="TiVo" value="$tivoIP">
 <input type="checkbox" name="save">Metadata<br>
#if $togo_mpegts == 'default'
 <input type="checkbox" checked name="ts_format">Transfer as mpeg-ts<br>
#elif $togo_mpegts == 'enabled'
 <input type="checkbox" name="ts_format">Transfer as mpeg-ts<br>
#end if
</p>
<div id="pushmenu">
#if $has_tivodecode
 <input type="checkbox" name="decode">Decrypt
#end if
 <input style="font-size:16px" value="Transfer" type="submit">
</div>
</form>
</body>
</html>
